.addslot{
margin-left: 75rem!important
}
.slotlist{
    width: 176px;
    height: 77px;
    font-size: 16px;

}

.popbutton{
    margin-top: 33px;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #5e5959;
    background-color: transparent;
    border-color: #5e5959;
}