table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border:1px solid #e2e2e2;
  }
  
  th {
    background-color: #e9eef2;
    color: #587c98;
  }

  .widget h6 {
    color: #587c98;




  }

  


  